/Image.Processing.Tests/bin/Debug
/Image.Manipulation/bin/Debug
/Image.Manipulation/obj/Debug
/Image.Processing.Tests/obj/Debug
/Image.Processing/bin/Debug
/Image.Processing/obj/Debug
/packages
/Image.Processing.sln.DotSettings.user
/Image.Processing.v12.suo
